# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List 3 commonly used libraries by Data Scientists
* Create a table of 3 open-source development environments

## Author:
Mohammad Kazem Zim

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib


|Data Science Tools|
|-|
|Jupyter|
|RStudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [5]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335